.criticCard{
    margin-bottom: 50px;
    position: relative;
    height: 200px;
    overflow: hidden;
}

.criticCard a{
    display: flex;
}

.crticsThumbnail{
    width: 40%;
    margin-right: 50px;
    position: relative;
}

@media screen and (max-width: 425px) {
    .criticCard{
        margin-bottom: 360px;
        overflow: visible;
    }

    .criticCard a{
        display: flex;
        flex-direction: column;
    }

    .crticsThumbnail{
        width: 100%;
    }
}