.headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    z-index: 50;
}

header{
    max-width: 1960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 80px;
    background-color: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header a{
    color: #000000;
    font-weight: 400;
}

header ul ul li a{
    color:rgb(0, 0, 0);
    font-weight: 400;
}

.Logo{
    height: 80px;
    display: flex;
    align-items: center;
}

.Logo img{
    height: 42%;
}

.defaultLogo{
    display: none;
}

.menuItemActive{
    transition: all 0.4s ease-in-out;
    font-weight: 900;
}

.menuContainer{
    /* overflow-x: hidden; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menuItemContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menuItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.menuItem a{
    font-weight: 400;
}

.submenuContainer {
    position: absolute;
    top: 100%;
    /* width: 160px; */
    width: max-content;
    background-color: #fff;
    flex-direction: column;
    border: 1px solid var(--grey-4);
}

.submenuItem {
    /* margin-top: 5px; */
    border-bottom: 1px solid var(--grey-4);
}

.submenuLink {
    color: #000000; /* Default color for submenu items */
    font-weight: 400;
    padding: 20px 10px;
    transition: background-color 0.2s, color 0.2s;
}

.submenuItem:hover .submenuLink,
.submenuLink:hover {
    background-color: #f0f0f0;
    /* color: var(--green-1,rgb(244, 244, 244)); */
    cursor: pointer;
}

.menuItemActive .submenuContainer {
    display: block; /* Show submenu when parent menu is active */
}

.lngSelector{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 0 10px;
}

.lngSub{
    width: 100px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    text-align: center;
    border: 1px solid #d5d5d5;
    transform: translateX(-50%);
    cursor: pointer;
}

/* 漢堡按鈕樣式 */
.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 55;
    cursor: pointer;
    display: none;
  }
  
/* 在小螢幕顯示漢堡按鈕 */
@media (max-width: 1024px) {
    header{
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 100%;
        width: 40%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        background-color: var(--grey-1);
        padding: 20px 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    header a{
        color: #ffffff;
    }
    
    header ul ul li a{
        color: #8C8383;
    }

    /* 桌機專用元素，手機隱藏 */
@media (max-width: 1024px) {
    .desktopOnly {
      display: none !important;
    }
}

    .defaultLogo{
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        padding: 10px 40px ;
        background-color: var(--white);
        width: 100%;
    }

    header.header-open {
        transform: translateX(-100%);
        overflow-y: auto;
        max-height: 100vh;
    }

    header.header-closed {
        transform: translateX(0%);
    }
    
    .menuContainer{
        flex-direction: column;
        overflow-y: auto;
        max-height: 100vh;
        height: auto;
    }
    
    .menuItemContainer{
        flex-direction: column;
        align-items: center;
    }
    
    .menuItem{
        width: 100%;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
    }
    .menuItem: hover{
        cursor: pointer;
    }
    
    .menuItemContainer li{
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;
    }

    .submenuContainer {
        width: 100%;
        position: static;
        background-color: transparent;
        border: 1px solid rgb(22, 22, 22);
    }
    
    .submenuItem {
        border-bottom: 1px solid var(--black-0);
        padding: 10px 0;
    }
    
    .submenuLink {
        color: #fff;
        font-weight: 400;
    }
    
    .menuItemActive .submenuContainer {
        display: block; /* Show submenu when parent menu is active */
    }

    .lngContainer{
        padding: 30px 200px;
    }

    .lngSelector{
        width: 100%;
        height: auto;
        margin-right: 0px;
        /* margin-bottom: 200px; */
        padding: 30px 100px;
    }

    .lngSub{
        width: 300px;
    }
    
    .hamburger {
        display: block;
    }

    .registerBtn{
        width: 320px;
    }
}

@media (max-width: 768px) {
    header{
        width: 50%;
    }
    
    .defaultLogo{
        padding: 10px 20px ;
    }

    .registerBtn{
        width: 240px;
    }
}

@media (max-width: 425px) {
    header{
        width: 50%;
    }

    .lngSelector{
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 30px 100px;
    }

    .lngSub{
        width: 300px;
    }
}